/*Declaration of CSS variables for light/dark theme*/
html[data-theme="light"] {
    --col-icon: black;
    --col-bd-radius:rgb(2, 2, 2);
    --col-box-shadow:#000000 2px 2px 4px, 
    #4D4D4D -2px -2px 4px;
   --col-box-shadow-hover:inset #8a7373 2px 2px 4px, 
   inset #4D4D4D -2px -2px 4px;
    --col-bd-icon:transparent;
    --bg-icon: #fff;
     --bg1-color: #fff;
     --col-icon-link: #fff;
    --col-icon-instagram: #1da1f2;
    --col-icon-dribbble: #ea4c89;
    --col-icon-linkedin: #0e76a8;
    --col-icon-code: #00ab6c;
    --col-icon-hackerrank: #41aff3;
    --col-icon-github:#24292e;  
    --col-icon-instagram: rgb(201, 94, 174);
    --col-icon-mail:rgb(209, 82, 82);
    --col-icon-google-scholar:#3cba54;
    --col-icon-codeforces:rgb(19, 145, 184);
    --col-icon-leetcode:rgb(255, 181, 62);
    --shadow-col: rgba(0, 0, 0, 0.3);
    --bg-col: #fafafa;
    --shadow1: rgba(0, 0, 0, 0.3);
    --shadow2: rgba(0, 0, 0, 0.2);
  
    --neu-light: white;
    --neu-dark: #c3c3c3;
    --neu-color: #c3c3c3;
    --neu-icon: #c3c3c3;
  
  }
  
  html[data-theme="dark"] {
    --col-icon:white;
    --col-bd-radius:black;
    --col-bd-icon:transparent;
    --col-box-shadow: 5px 5px 10px rgba(22, 21, 21, 0.7) , -5px -5px 10px rgba(255,255,255,0.1);
    --col-box-shadow-hover:inset rgba(255, 255, 255, 1) 2px 2px 4px, 
   inset rgba(255, 255, 255, 0.5) -2px -2px 4px;
    --col-icon-instagram: #1da1f2;
    --col-icon-dribbble: #ea4c89;
    --col-icon-linkedin: #0e76a8;
    --col-icon-code: #00ab6c;
    --col-icon-link: #000;
    --col-icon-hackerrank: #41aff3;
    --col-icon-github:  #24292e;
    --col-icon-instagram: rgb(201, 94, 174);
    --col-icon-mail:rgb(209, 82, 82);
    --col-icon-google-scholar:#3cba54;
    --col-icon-codeforces:rgb(19, 145, 184);
    --col-icon-leetcode:rgb(255, 181, 62);
    --col-white: #fff;
    --bg-col: #272727;
    --shadow1: rgba(128, 122, 122, 0.233);
    --shadow2: rgba(231, 216, 216, 0.007);
  
    --neu-light: #282828;
    --neu-dark: #080808;
    --neu-color: white;
    --neu-icon: whitesmoke;
  }
  /* Particle effect*/
  body{
    font-family: "Poppins";
    background-color: #1b3044;
  }
  html,body{
    overflow-x: hidden;
}
  #home,
  #particles-js {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  
  /* .section {
    background-color: rgb(63, 25, 170);
    justify-content: center;
    align-items: center;
  } */
  
  .text .header {
    font-weight: bold;
  }
  .txt{
    color: #2874A6;
  }
  .text {
    font-size: 25px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .animated-text span {
    display: none;
    line-height: 1;
  }
  
  .animated-text span.active {
    display: inline;
  }
  
  .animated-text:after {
    content: ".";
    display: inline;
    width: 6px;
    text-indent: 0;
    /* overflow: hidden; */
    background: var(--col-icon);
    animation: blink 0.3s infinite alternate;
  }
  .datawords{
    white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  
  @keyframes blink {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  /*Social icons*/
  
  :root {
    --link-size: 64px;
    --trans-props: all 0.2s ease;
    --link-size-footer-b: 40px;
    --link-size-footer-s: 30px;
  }
  
  .social-icons {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
  }
  
  .socialicon {
    display: flex;
    position: relative;
    overflow: hidden;
    width: var(--link-size);
    height: var(--link-size);
    margin: 8px;
    text-decoration: none;
    transition: var(--trans-props);
  }
  .socialicon i {
    margin: auto;
    font-size: 24px;
    z-index: 1;
    transition: var(--trans-props);
  }
  .linkedin i {
    margin: auto;
    font-size: 24px;
    z-index: 1;
    transition: var(--trans-props);
  }
  .code i {
    margin: auto;
    font-size: 24px;
    z-index: 1;
    transition: var(--trans-props);
  }
  .hackerrank i {
    margin: auto;
    font-size: 24px;
    z-index: 1;
    transition: var(--trans-props);
  }
  .github i {
    margin: auto;
    font-size: 24px;
    z-index: 1;
    transition: var(--trans-props);
  }
  .socialicon.instagram{
    color: var(--col-icon-instagram);
  }
  
  .socialicon.github{
    color:var(--col-icon-github);
  } 
  
  .socialicon.linkedin{
    color: var(--col-icon-linkedin);
  }
  
  .socialicon.hackerrank{
    color:var(--col-icon-hackerrank);
  }
  
  .socialicon.code{
    color: var(--col-icon-code);
  }
  .flink{
    color: var(--col-icon-link);
  }
  .socialicon:after {
    content: "";
    width: var(--link-size);
    height: var(--link-size);
    position: absolute;
    transform: translate(0, var(--link-size));
    border-radius: 50%;
    transition: var(--trans-props);
    
  }
  .socialicon.instagram:hover {
    color: #bc2a8d;
  }
  
  .socialicon.github:hover {
    color: #1f2122;
  } 
  
  
  .socialicon.linkedin:hover {
    color: #0e76a8;
  }
  
  .socialicon.hackerrank:hover {
    color: #41aff3;
  }
  

  .socialicon.code:hover {
    color: #00ab6c;
  }
  /*** Social Icon Animations ***/
  
  .socialicon:hover {
    transform: translateY(-15px);
    font-size:6em;

  }
  .socialicon:hover:after {
    transform: translate(0) scale(1.2);
  }

  a:hover {
    color: transparent;
  }
  
  
  @media only screen and (max-width: 450px) {
    .text {
      margin-top: 5rem;
    }
  }
  
  /* navbar */

  /* Global Styles */
* {
  box-sizing: border-box;
}

p {
  color: #565656;
  line-height: 1.8;
}

.container {
  width: 1170px;
  max-width: 90%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.content-wrapper {
  width: 80%;
  margin: 0 auto;
  display: table;
  min-height: 800px;
}
.content {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
/* End Global Styles */

/* Start Nav Styles */
.navbar {
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
.navbar .nav-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar .nav-menu li {
  position: relative;
  min-width: 200px;
  text-align: right;
}
.navbar .nav-menu li .dot {
  display: block;
  color: #fff;
  padding: 5px 0;
}
.navbar .nav-menu li .dot::before,
.navbar .nav-menu li .dot::after {
  display: block;
  position: absolute;
  content: '';
  border-radius: 50%;  
  top: 50%;  
  transition: all .3s ease;
}
.navbar .nav-menu li .dot::before {
  width: 5px;
  height: 5px;
  right: 0;
  border: var(--col-icon-navbar);
  transform: translateY(-50%);
}
.navbar .nav-menu li .dot::after {
  width: 15px;
  height: 15px;
  border: 10px solid #2874A6;
  right: -5px;
  transform: translateY(-50%) scale(0);
}
.navbar .nav-menu li .dot.active::before,
.navbar .nav-menu li:hover .dot::before {
  background: #2874A6;
  border-color: #2874A6;
}
.navbar .nav-menu li .dot.active::after,
.navbar .nav-menu li:hover .dot::after {
  transform: translateY(-50%) scale(1);  
}
.navbar .nav-menu li .dot span {
  display: inline-block;
  opacity: 0;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: capitalize;
  background-color: #2874A6;
  padding: 10px 20px;
  border-radius: 3px;
  margin-right: 30px;
  transform: translateX(20px);
  transition: all .3s ease;
}
.navbar .nav-menu li .dot span::before {
  display: block;
  position: absolute;
  content: '';
  border-left: 7px solid #2874A6;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  top: 50%;
  transform: translate(7px, -50%);
  right: 0;
  transition: all .3s ease;
}
.navbar .nav-menu li .dot.active span,
.navbar .nav-menu li:hover .dot span {
  transform: translateX(0px);
  opacity: 1;
}
/* End Nav Styles */

/* Start Home Styles */
#home button {
  border: 2px solid #ffc107;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 12px 25px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  transition: all .3s ease;
  margin-top: 20px;
}
#home button:hover {
  background-color: #ffc107;
  color: #fff;
}
/* End Home Styles */


/* Start Testimonials Styles */
#test,
#test .content-wrapper {
  min-height: 400px;
}
/* End Testimonials Styles */

/* Start Contact Styles */
#contact {
  min-height: 600px;
  background-color: #000;
  overflow-y:hidden;
  color: #fff;
}
/* End Contact Styles */

/* Start Footer Styles */
footer {
  background-color: #000;
  padding: 40px 0;
}
footer p {
  margin: 0;
  color: #fff;
  font-size: 20px;
  letter-spacing: .5px;
  font-weight: 700;
}
/* End Footer Styles */
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 68%;
  font: sans-serif;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: top;
}
.image_container {
  position: relative;
  width: 30%;
}
#home1 {
  position: relative;
  height: 100vh;
  width: 100%;
}
.image_container:hover .middle {
  opacity: 1;
}
.text_abhi{
    color: white;
    font-size: 16px;
    padding: 10px 10px;
}


.text_abhi {
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: capitalize;
  background-color: #2874A6;
  width: 105px;
  border: 2px solid #2874A6;
  border-radius:  5px 5px 5px 0px;
  position: absolute;
  transition: all .3s ease;
}
main > div:last-child span  {
  display: none;
}

/* Give margin-bottom to the message body except the last message */
main > div:not(:last-child) p {
  margin-bottom: 1.5rem;
}


.toggle-button-cover
{
    position: absolute;
    width: 200px;
    height: 140px;
}
.button-cover:before
{
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
    
}

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button_thm
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    box-shadow: 0 10px 20px -8px #03A9F4;
    border-radius: 4px;

}

.button_thm.r, .button_thm.r .layer
{
    border-radius: 100px;
}
.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button  */
#button-3 .knobs:before
{
    content: 'ON';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 10px 4px;
    background-color: #03A9F4;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before
{
    width: 46px;
    border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before
{
    margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before
{
    content: 'OFF';
    left: 42px;
    background-color: #000;
}

#button-3 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}

/* terminal about section */
.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 3px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  width: 350px;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#termialp {
  position: relative;
  left: 45%;
  margin-left: -8.5em;
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  white-space: nowrap;
  /* overflow: hidden; */
  width: 0;
}
/* - */

.line1 {
  color: #9CD9F0;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
}

.cursor1 {
  -webkit-animation: blink 1s 2s 2 forwards;
  -moz-animation: blink 1s 2s 2 forwards;
  -o-animation: blink 1s 2s 2 forwards;
  animation: blink 1s 2s 2 forwards;
}

.line2 {
  color: #CDEE69;
  -webkit-animation: type .5s 4.25s steps(20, end) forwards;
  -moz-animation: type .5s 4.25s steps(20, end) forwards;
  -o-animation: type .5s 4.25s steps(20, end) forwards;
  animation: type .5s 4.25s steps(20, end) forwards;
}

.cursor2 {
  -webkit-animation: blink 1s 5.25s 2 forwards;
  -moz-animation: blink 1s 5.25s 2 forwards;
  -o-animation: blink 1s 5.25s 2 forwards;
  animation: blink 1s 5.25s 2 forwards;
}

.line3 {
  color: #E09690;
  -webkit-animation: type .5s 7.5s steps(20, end) forwards;
  -moz-animation: type .5s 7.5s steps(20, end) forwards;
  -o-animation: type .5s 7.5s steps(20, end) forwards;
  animation: type .5s 7.5s steps(20, end) forwards;
}

.cursor3 {
  -webkit-animation: blink 1s 8.5s 2 forwards;
  -moz-animation: blink 1s 8.5s 2 forwards;
  -o-animation: blink 1s 8.5s 2 forwards;
  animation: blink 1s 8.5s 2 forwards;
}

.line4 {
  color: #fff;
  -webkit-animation: type .5s 10.75s steps(20, end) forwards;
  -moz-animation: type .5s 10.75s steps(20, end) forwards;
  -o-animation: type .5s 10.75s steps(20, end) forwards;
  animation: type .5s 10.75s steps(20, end) forwards;
}

.cursor4 {
  -webkit-animation: blink 1s 11.5s infinite;
  -moz-animation: blink 1s 8.5s infinite;
  -o-animation: blink 1s 8.5s infinite;
  animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 17em;
  }
}

@-moz-keyframes type {
  to {
    width: 17em;
  }
}

@-o-keyframes type {
  to {
    width: 17em;
  }
}

@keyframes type {
  to {
    width: 17em;
  }
}

/*** Contact ***/
.contact .main-content {
  padding-bottom: 85px;
}
/* Left Side */

.contact .custom-span-contact {
  font-weight: 600;
  padding-left: 50px;
  line-height: 21px;
  padding-top: 5px;
}

.contact .custom-span-contact i {
  left: 0;
  top: 10px;
  font-size: 33px;
}

.contact .custom-span-contact i.fa-phone-square {
  font-size: 39px;
  top: 7px;
}

.contact .custom-span-contact span {
  text-transform: uppercase;
  opacity: .8;
  font-weight: 400;
}

.contact ul.social {
  margin-left: -5px;
}

.contact ul.social li {
  display: inline-block;
}
.social-icon {
  display: flex;
  font-size: 20px;
  margin-left: -25px;
  flex-flow: row wrap;
}
.contact ul.social li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  transition: .3s;
  font-size: 17px;
  margin: 0 6px;
  background: #2b2a2a;
  border-radius: 50%;
}
/* Form */
.contact .contactform input[type=text],
.contact .contactform input[type=email] {
  border: 1px solid #111;
  width: 100%;
  background: #252525;
  color: #fff;
  padding: 11px 26px;
  margin-bottom: 30px;
  border-radius: 30px;
  outline: none !important;
  transition: .3s;
}

.contact .contactform textarea {
  border: 1px solid #111;
  background: #252525;
  color: #fff;
  width: 100%;
  padding: 12px 26px;
  margin-bottom: 20px;
  height: 160px;
  overflow: hidden;
  border-radius: 30px;
  outline: none !important;
  transition: .3s;
}

.contact .contactform .form-message {
  margin: 24px 0;
}
.contact .btn-contact{
  border-radius: 2x soild #2874A6;
  background-color:rgb(19, 145, 184);
}
.contact .contactform .output_message {
  display: block;
  color: #fff;
  height: 46px;
  line-height: 46px;
  border-radius: 30px;
}

.contact .contactform .output_message.success {
  background: #28a745;
}

.contact .contactform .output_message.success:before {
  font-family: FontAwesome;
  content: "\f14a";
  padding-right: 10px;
}

.contact .contactform .output_message.error {
  background: #2874A6;
}

.contact .contactform .output_message.error:before {
  font-family: FontAwesome;
  content: "\f071";
  padding-right: 10px;
}
.title-section {
  margin: 0 auto;
  position: relative;
  padding: 80px 0;
}

.title-section h1 {
  font-size: 56px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}
.title-bg {
  color: rgba(30, 37, 48, 0.07);
}

.title-bg {
font-size: 110px;
left: 0;
letter-spacing: 10px;
line-height: 0.7;
position: absolute;
right: 0;
top: 50%;
text-transform: uppercase;
font-weight: 800;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
color: rgba(255, 255, 255, 0.07);
}

@media (max-width: 480px) {
  .title-bg {
    font-size:65px;
    text-align: center;
  }
  .title-section h1 {
    font-size: 35px;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .title-bg {
    font-size:55px;
    text-align: center;
  }
  .title-section h1 {
    font-size: 30px;
    text-align: center;
  }
}
.custom-title {
  padding-bottom: 22px;
  font-size: 21px;
}
.contact  ul.social li a {
  color: #666;
  background: #eee;
}

.contact  ul.social li a:hover {
  color: #fff;
}
.contact_text{
  color: #fff;
}
/* .container {
  padding: 0 25px;
} */
.main-content {
  padding-top: 30px;
}
.title-section h1 span,
.contact .custom-span-contact i{
	color: #2874A6;
}
.contact ul.social li a:hover,
contact ul.social li a:hover{
	background-color: #2874A6;
}
.contact .contactform input[type=text]:focus,
.contact .contactform input[type=email]:focus,
.contact .contactform textarea:focus,
body.light.contact .contactform input[type=text]:focus,
body.light.contact .contactform input[type=email]:focus,
body.light.contact .contactform textarea:focus
{
	border: 1px solid #2874A6;
}

.fa-quote-right{
  
  text-align: right;
  margin-right: -20px;
}
.fa-quote-left{
  margin-top: -10px;
  margin-left: -20px;
}
.pre-heading{
  font-size: 20px;
  color: #2874A6;
font-family: 'Sriracha', cursive;
}

.sectiontitle {
  background-position: center;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #121f2b;
  font-family: 'Modern';
  margin-bottom: -5px;
  padding-right: 10px;
  padding-left: 10px;
}

.headerLine {
  width: 110px;
  height: 2px;
  font-weight: bold;
  display: inline-block;
  background: #2874A6;
}
.headerLine1 {
  width: 110px;
  font-weight: bold;
  display: inline-block;
  background: #fff;
}
/* project section */
.projects .container{
  margin-top: 30px;
}
.projects{
  margin-bottom: 40px;
}
/* project section */

.card {
  /* float: left; */
  padding: 10px;
  min-width: 370px;
  min-height: 90px;
}
.card_o{
  margin-bottom: 20px;
}
.card_text{
  color: #0e76a8;
}
.card-content{
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-image img{
  margin-bottom: 30px;
}
.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: "";
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(80px + 1em));
  transition: transform 0.3s;
}
.card .data .content_pro {
  padding: 1.5em;
  position: relative;
  z-index: 1;
}
.card .type {
  font-size: 12px;
}
.card .title {
  margin-top: 10px;
}
.card .text_pro {
  height: 70px;
  margin: 0;
}
.card input[type=checkbox] {
  display: none;
}
.card input[type=checkbox]:checked + .menu-content {
  transform: translateY(-60px);
}

.example-2 .wrapper {
  /* background: url(assets/images/abhi.png) 30% 1%/cover no-repeat; */
  background : url(../images/a.png) no-repeat 30% 1%/cover;
}
.example-2 .date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 0.7em 2.5em 1.5rem 0.7em;
  border-radius: 0 0 90% 0;
}
.example-2 .date span {
  display: block;
  text-align: center;
}
.example-2 .date .day {
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.example-2 .date .month {
  text-transform: uppercase;
}
.example-2 .date .month,
.example-2 .date .year {
  font-size: 10px;
}
.example-2 .content_pro {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.example-2 .title a {
  color: white;
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 300;
}
.text_pro{
  color: white;
}
.project_card{
  margin-top: 30px;
}
