@font-face {
    font-family: "Agustina";
    src: url(../fonts/Agustina.woff);
  }
  /*CSS variable declaration for light/dark mode*/
  html[data-theme="light"]{
    --bg-mybtn: red;
    --bg-nav:black;
    --bg-nav-img: black;
    --bg-footer:#DDE1EC;
    --bg: #ffffff;
    --text: #191919;
    --text-color: #6c757d;
    --col-icon: black;
    --col-icon-link: #fff;
    --col-icon-heading: #2874A6;
    --col-bd-radius:rgb(2, 2, 2);
    --col-box-shadow:#000000 2px 2px 4px, 
    #4D4D4D -2px -2px 4px;
   --col-box-shadow-hover:inset #8a7373 2px 2px 4px, 
   inset #4D4D4D -2px -2px 4px;
    --col-bd-icon:transparent;
    --bg-icon: #fff;
    --col-icon-scroller:3px solid #000;
    --col-icon-scroll:#000;
    --col-icon-twitter: #1da1f2;
    --col-icon-dribbble: #ea4c89;
    --col-icon-linkedin: #0e76a8;
    --col-icon-medium: #00ab6c;
    --col-icon-kaggle: #41aff3;
    --col-icon-github:#24292e;  
    --col-icon-instagram: rgb(201, 94, 174);
    --col-icon-mail:rgb(209, 82, 82);
    --col-icon-navbar: 5px solid #181818;
    --col-icon-google-scholar:#3cba54;
    --col-icon-codeforces:rgb(19, 145, 184);
    --col-icon-leetcode:rgb(255, 181, 62);
    --shadow-col: rgba(0, 0, 0, 0.3);
    --bg-col: #fafafa;
    --shadow1: rgba(0, 0, 0, 0.3);
    --shadow2: rgba(0, 0, 0, 0.2);
  
    --neu-light: white;
    --neu-dark: #c3c3c3;
    --neu-color: #c3c3c3;
    --neu-icon: #c3c3c3;
  
  }
  
  html[data-theme="dark"] {
    --bg-mybtn: rgb(230, 109, 129);
    --bg-nav: #6617cb;
    --col-icon-heading: #fff;
    --bg-nav-img: linear-gradient(315deg, #6617cb 0%, #882463 74%);
    --bg-footer:linear-gradient(315deg, #6617cb 0%, #882463 74%);
    --bg: #191919;
    --text: #ffffff;
    --text-color: #fff;
    --bg-txt-img: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
    --txt-fill: transparent;
    --col-icon:white;
    --col-icon-scroll: #fff;
    --col-icon-scroller: 3px solid #fff;
    --col-icon-navbar: 5px solid #fff;
    --col-bd-radius:black;
    --col-icon-link: #000;
    --col-bd-icon:transparent;
    --col-box-shadow: 5px 5px 10px rgba(22, 21, 21, 0.7) , -5px -5px 10px rgba(255,255,255,0.1);
    --col-box-shadow-hover:inset rgba(255, 255, 255, 1) 2px 2px 4px, 
   inset rgba(255, 255, 255, 0.5) -2px -2px 4px;
    --col-icon-twitter: #1da1f2;
    --col-icon-dribbble: #ea4c89;
    --col-icon-linkedin: #0e76a8;
    --col-icon-medium: #00ab6c;
    --col-icon-kaggle: #41aff3;
    --col-icon-github:  #f5f5f5;
    --col-icon-instagram: rgb(201, 94, 174);
    --col-icon-mail:rgb(209, 82, 82);
    --col-icon-google-scholar:#3cba54;
    --col-icon-codeforces:rgb(19, 145, 184);
    --col-icon-leetcode:rgb(255, 181, 62);
    --col-white: #fff;
    --bg-col: #272727;
    --shadow1: rgba(128, 122, 122, 0.233);
    --shadow2: rgba(231, 216, 216, 0.007);
  
    --neu-light: #282828;
    --neu-dark: #080808;
    --neu-color: white;
    --neu-icon: whitesmoke;
  }
  
  body {
    overflow-x: hidden;
    color: var(--text);
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .scroll-container{
    width: 30px;
    height: 60px;
    margin-top: 30px;
    border: var(--col-icon-scroller);
    border-radius: 15px;
    position: relative;
  }
  
  .scroller{
    width: 16px;
    border-radius: 8px;
    background-color: #2874A6;
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 34px;
    animation: scroller 1500ms ease-out infinite;
  }
  .scroll_text{
    font-size: 15px;
    font-weight: bold;
    color: black;
    color: var(--col-icon-scroll);
  }
  @keyframes scroller{
    0%{
      bottom: 34px;
    }
    5%{
      top: 4px;
    }
    32%{    
      bottom: 4px;
    }
    66%{
      top: 34px;
      bottom: 4px;
    }
    100%{
      top: 4px;
      bottom: 34px;
    }
  }
  .about-me .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #2874A6;
  }
  
  .about-me .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about-me .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about-me .content ul strong {
    margin-right: 10px;
  }
  
  .about-me .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #2874A6;
    line-height: 0;
  }
  
  .about-me .content p:last-child {
    margin-bottom: 0;
  }
  /*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
  .skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  .skill .container {
    background-color: #2874A6;
    border-radius: 10px;
    margin-top: 20px;
  }
  .skills .progress .skill {
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  
  .skills .progress-bar-wrap {
    background: rgba(255, 255, 255, 0.2);
  }
  
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
    background-color: #fff;
  }

  .img-header{
    width: 90%;
    height: 90%;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .skill-card{
    border: none;
  }
  
  .row{
    display: flex;
    row-gap: 3em;
  }
  
  .card{
    width: 100%;
  }
  
  .column{
    float: left;
    margin-bottom: 2rem;
  }
  
  .NeuInput-outer {
    width: 330px;
    display: flex;
    border-radius: 1rem;
    background-color: var(--nue-light);
    padding: 0.5rem;
    margin-bottom: 3rem;
    box-shadow: .3rem .3rem .6rem var(--neu-dark), -.2rem -.2rem .5rem var(--neu-light); 
    margin-left: auto;
    margin-right: 3rem;
  }
  
  
  @media(min-width: 60rem)
  {
    .row{
      margin-top: 0em;
    }
  
    .card{
      width: 43%;
      column-gap: 3rem;
      margin: 0 2rem;
      transition: width 0.8s;
    }
  
    .column{
      margin-left: 1.5rem;
    }
  }
  
  .card .menu-content {
    list-style-type: none;
    position: absolute;
    right: 0;
  }
  
  .card .menu-content::before,
  .card .menu-content::after {
    content: "";
    display: table;
  }
  
  .card .menu-content::after {
    clear: both;
  }
  
  .card .menu-content li {
    display: inline-block;
  }
  
  .card .wrapper {
    background-color: #fff;
    border: 0;
    border-radius: 10px;
    min-height: 24rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px var(--shadow1), 0 15px 12px var(--shadow2);
  }
  
  .card .wrapper:hover .data {
    transform: translateY(0);
  }
  
  .card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: transform 0.3s;
    background: rgba(0,0,0,0.55);
  }
  
  @media(min-width: 60rem)
  {
    .card .data{
      height: 66%;
    }
  }
  
  .card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
    margin-bottom: 4em;
  }
  
  @media(min-width: 378px)
  {
    .card .data .content{
      margin-bottom: 1em;
    }
  }
  
  @media(min-width: 400px)
  {
    .card .data .content{
      margin-bottom: 2em;
    }
  }
  
  @media(min-width: 60rem)
  {
    .card .data .content{
      margin-bottom: 0;
    }
  }
  
  .card .title-div{
    width: 100%;
    height: 25%;
    margin: 0;
  }
  
  @media(min-width: 60rem)
  {
    .card .title-div{
      padding-bottom: 2.3rem;
    }
  }
  
  .card .title {
    margin-top: 0em;
    font-size: 0.65em;
  }
  
  @media(min-width: 311px)
  {
    .card .title{
      font-size: 0.8em;
    }
  }
  
  @media(min-width: 365px){
    .card .title{
      font-size: 1em;
    }
  }
  
  @media(min-width: 425px){
    .card .title{
      font-size: 1.3em;
    }
  }
  
  @media(min-width: 554px){
    .card .title{
      font-size: 1.5em;
    }
  }
  
  @media(min-width: 60rem)
  {
    .card .title {
      font-size: 1.55em;
    }
  }
  
  .card .text {
    height: 60px;
    font-size: 0.5em;
    margin: 0;
  }
  
  @media(min-width: 311px){
    .card .text{
      font-size: 0.7;
    }
  }
  
  @media(min-width: 365px){
    .card .text{
      font-size: 0.85em;
    }
  }
  
  @media(min-width: 425px){
    .card .text{
      font-size: 1em;
    }
  }
  
  @media(min-width: 554px)
  {
    .card .text{
      font-size: 1.2em;
    }
  }
  
  @media(min-width: 60rem){
    .card .text{
      font-size: 18px;
    }
  }
  
  .tagbutton{
    background-color: lawngreen;
    margin-top: 5px;
    border-radius: 4px;
    border:none;
    padding: 5px 10px;
  }
  .card input[type="checkbox"] {
    display: none;
  }
  
  .card input[type="checkbox"]:checked + .menu-content {
    transform: translateY(-60px);
  }
  
  input[type="text"]{
    color:rgb(235, 148, 35);
  }
  
  .skill-card .wrapper:hover .menu-content span {
    transform: translate(-50%, -10px);
    opacity: 1;
  }
  
  .skill-card {
    width: 450px;
    border: 0;
    border-radius: 10px;
  }
  
  .skill-card .header {
    color: #fff;
    padding: 1em;
  }
  
  .skill-card .header::before,
  .skill-card .header::after {
    content: "";
    display: table;
  }
  
  .skill-card .header::after {
    clear: both;
  }
  
  .skill-card .header .date {
    float: left;
    font-size: 12px;
  }
  
  .skill-card .menu-content {
    float: right;
  }
  
  .skill-card .menu-content li {
    margin: 0 2px;
    position: relative;
  }
  
  .skill-card .menu-content span {
    transition: all 0.3s;
    opacity: 0;
  }
  
  .skill-card .data {
    color: #fff;
    background-color: rgba(0,0,0,0.55);
    transform: translateY(calc(60px + 4em));
    padding: 5px;
  }
  
  .skill-card .title a {
    color: #fff;
  }
  
  /*social icons*/
  
  .social-icon svg {
    margin-top: 50px;
  }
  .social-icon svg:hover {
    fill: #fff;
  }
  
  .project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }
  
  .page-content {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 1rem auto; */
  }
  
  /* Resopnsive*/
  @media only screen and (max-width: 768px) {
    .social-icon svg {
      margin-top: 0px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .project-box {
      margin-top: 18rem;
    }
  }
  
  @media only screen and (max-width: 450px) {
    .project-box {
      margin-top: 18rem;
    }
  }
  
  @media only screen and (max-width: 702px) {
    .NeuInput-outer {
      width: 300px;
      margin: 0.3rem;
    }
  }
  
  @media (max-width: 377px) {
    .skill-card .data {
      transform: translateY(calc(90px + 4em));
      }
      
      .social-icon svg {
        margin-top: 20px;
      }
    }
    @media (min-width: 960px) {
      .skill-card .data {
        color: #fff;
        transform: translateY(calc(80px + 4em));
        padding: 5px;
      }
  }
  .main{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
  }
  
  .left {
    position: relative;
  }
  
  .right {
    position: relative;
  }
  
  
  @media screen and (max-width:480px){
    .main {
        display: flex;
        flex-direction: column-reverse;
    }
  }